<div class="container about-pdh-content">
    <div class="about-content">
  <h4>Let's go hiking</h4>
  <p>Cities are great, but if you’re like me, sometimes you want to see a little wildlife (pigeons don’t count). You probably know about Fairmount Park and Pennypack, but there are lots of wild places to explore within a 90-minute drive of Center City. Philly Day Hiker is my attempt at cataloguing them.</p>
  <p>For each spot listed here, you'll find:</p>
</div>
<div class="container about-container">
  <div class="row about-row">
    <div class="about-list">
      <strong>An interactive map.</strong> If I located something awesome—ruins, bald eagle nests, etc—I’ve pinpointed it with a gold marker. Just zoom in.
    </div>
    <div class="about-list">
      <strong>A quick review of each destination,</strong> to pass on anything useful I've learned. These reviews are by no means comprehensive (my legs would give out if I tried to hike everything here).
    </div>
    <div class="about-list">
      <strong>A picture of the official trail map,</strong> if one exists. Save it to your phone before you head out!
    </div>
  </div>
</div>
<div class="about-content">
  <p>Want to get in touch? You can:
  </p><ul>
  	<li>
    	<div data-toggle="modal" data-target="#tipsModal">Submit a tip</div>
    </li>
    <li>Find me on twitter at <a class="about-link about-twitter" href="http://www.twitter.com/phillydayhiker">@phillydayhiker</a>
    </li>
    <li>Discover new tips with <a class="about-link about-newsletter" href="http://eepurl.com/dDKJ5n" target="_blank">our (not too frequent, I promise) newsletter</a>
    </li>
    <li>(I'm <a class="about-link credit-link" href="http://www.laurenhallden.com">Lauren</a>, by the way. Hi!)
    </li>
    </ul>
    <p></p>
</div>
<div class="tip-jar">
  <div class="props">
    <a class="about-link phillymag" href="http://www.phillymag.com/best-of-philly/awards/hiking-website/" target="_blank">
      <img src="/images/BOP_Logo_2017_black.png">
    </a>
  </div>
  <div class="tip-button">
    <p><b>Learn something new?</b> Consider leaving a buck or two to help with hosting costs!</p>
    <form id="donate-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="N3MW3U5GYQ4JY">
    <input type="image" id="paypal-button" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    <input type="hidden" name="NoBots" id="c-nobots" value="HvMZKIY4smiYOmaQDNKNndM0DvsSnppDJ9j/0zg6HKg=|820fb960594799534e910a952ee93196"></form>
  </div>
</div>
  </div>