<div class="filter-box">
  <div class="filter-column">
    <img class="filter-icon" src="../../images/filters-icon.svg" />
    <p>I'm looking for something...</p>
  </div>
  <div class="filter-column">
    <div class="checkbox">
      <input type="checkbox" class="filter-input" id="has_easy_trails" name="has_easy_trails">
      <label for="has_easy_trails">with easy, flat trails</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" class="filter-input" id="has_difficult_trails" name="has_difficult_trails">
      <label for="has_difficult_trails">with a climb</label>
    </div>
  </div>
  <div class="filter-column">
    <div class="checkbox">
      <input type="checkbox" class="filter-input" id="more_amenities" name="more_amenities">
      <label for="more_amenities">with more amenities</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" class="filter-input" id="more_natural" name="more_natural">
      <label for="more_natural">more natural</label>
    </div>
  </div>
  <div class="filter-column">
    <div class="checkbox">
      <input type="checkbox" class="filter-input" id="boats" name="boat_friendly">
      <label for="boats">for kayaking/canoeing</label>
    </div>
    <div class="checkbox">
      <input type="checkbox" class="filter-input" id="dogs" name="dog_friendly">
      <label for="dogs">dog-friendly</label>
    </div>
  </div>
</div>