/* **************
     LAYOUT
************** */

html {
	overflow-y: scroll;
}

html, body {
	color: #444444;
	font-family: $helvetica;
	font-size: 16px;
	font-weight: 400;
}

.container {
	width: 1000px;
	max-width: 100%;
	padding-left: 20px;
	padding-right: 20px;

	@media #{$break-ipad-large} {
		width: 100%
	}
}


/* **************
      TYPE
************** */

body {
	line-height: 1.4;
}

p,
.paragraph,
li,
ul {
	margin: 0 0 1.5rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.6;
}

b, strong {
	font-weight: 700;
}

li {
	margin-bottom: 0.8rem;
	text-align: left;
}

.wf-loading h1,
.wf-loading .wh-search-results h2,
.wf-loading h4 {
	opacity: 0;
}


h1 {
	opacity: 1;
	font-family: $freight;
	font-size: 2.84rem;
	font-weight: 700;
	margin-bottom: 1rem;
	-webkit-font-smoothing: antialiased;

	&+p {
		margin-top: 3rem;
	}

	@media #{$break-mobile-large} {
		font-size: 2rem;
	    line-height: 2.5rem;
	    margin-bottom: 1rem;
	}
}

.subhead {
	margin-bottom: 2rem;
	color: $mid-gray;
}

.wh-search-results h2,
h4 {
	opacity: 1;
	margin: 3rem 0 1.5rem;
	font-family: $freight;
	font-style: italic;
	font-size: 1.5rem;
	font-weight: 700;
}

h5 {
	margin: 3rem 0 1rem;
	color: $medium-gray;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.6rem;
}

.fa-crosshairs {
	font-size: 1.2rem;

	&:before {
		line-height: 1.7rem;
	}
}


/* **************
     LINKS
************** */

/* Default link */
a {
	color: $dark-blue;

	&:hover,
	&:active,
	&:focus {
		color: $black-blue;
		text-decoration: none;
	}
}

.a-blue {
	display: block;
	margin: 0.5rem 0 0;
	color: $dark-blue;
	font-size: 0.85rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: $spaced;

	&.inline {
		display: inline-block;
	}

	&:hover,
	&:focus,
	&:active {
		color: $dark-blue;
	}
}

/* Slideout links */
.slideout {
	margin: 0.5rem 0 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.slideout i:after {
	display: inline-block;
	width: 20px;
    margin-left: -5px;
	content: '\f178';
	opacity: 0;
    font-family: FontAwesome;
    font-style: normal;
    -webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.slideout:hover i:after {
	margin-left: 5px;
	opacity: 1;
}

/* Subtle links */
.link-subtle {
	color: $light-gray;
	text-decoration: underline;

	&:hover,
	&:active,
	&focus {
		color: $medium-gray;
		text-decoration: underline;
	}
}

#paypal-button {
  &:hover {
    cursor: pointer;
  }
}

/* Form element overrides */
.checkbox input[type=checkbox] {
  margin-left: 0;
}

/* Change checkbox color slightly */
input[type="checkbox"] {
	filter: hue-rotate(340deg);
	-webkit-filter: hue-rotate(340deg);
	height: 18px;
	width: 18px;
	margin: 2px 0 0 0;

	@media #{$break-mobile-large} {
		-webkit-transform: scale(2,2);
		height: auto;
		width: auto;
		margin: 5px 0 0 0;
	}
}

/* Loader */
.nprogress-logo {
	color: $white;
}

/* Search */
.wh-search-url {
    color: $mid-gray;
    font-size: $font-small;
    line-height: 1.2rem;
}

.wh-search-term {
	background: #cdf1f9;
	display: inline-block;
	font-weight: bold;
}

.wh-search-body {
    margin-bottom: 3rem;
}

.wh-search-results dt {
	margin-top: 1rem;
	font-weight: bold;
	border-bottom: solid 1px $lightest-gray;
	padding: 10px 0px;
}

.wh-search-results dd {
	margin-left: 0;
}

.wh-search-results a {
	text-decoration: none;
	color: #000;
	border-bottom: solid 1px $lightest-gray;
	padding: 10px 0px;
	display: block;
	padding-left: 20px;
	padding-right: 20px;

	&:hover {
		background: $whisper-gray;
	}
}

.wh-search-term-in-page {
	font-weight: bold;
}

.wh-search-paginate {
	li {
		display: inline-block;
		margin: 0 10px;
	}
}

.wh-search-error,
.wh-search-results-total {
	display: block;
	margin-top: 2rem;
}

div#tipue_search_content {
	min-height: 60vh;
}
