.destination-map {
	height: 60vh;
	margin: 0;
	z-index: 0;

	.leaflet-control-attribution {
		display: none;
	}

	@media #{$break-mobile-large} {
		height: 50vh;
	}
}

.title-container {
	background: $whisper-gray;
	position: relative;
	padding: 3rem 0;
	box-shadow: $high-float;
	text-align: center;
	z-index: 1;

	@media #{$break-mobile-large} {
		padding: 2.5rem 0;
	}

	hr {
		max-width: 300px;
		margin-top: 2rem;
		margin-bottom: 1.5rem;
		border-bottom: 1px solid $lightest-gray;
	}

	.outlink-wrapper {
		width: 300px;
		display: inline-block;
		vertical-align: top;
		text-align: center;

		@media #{$break-mobile-large} {
			width: 100%;
			display: block;

			&:last-of-type {
				margin-top: 0.5rem;
			}
		}
	}

	.link-icon,
	.outlink {
		display: inline-block;
		vertical-align: middle;
	}

	.link-icon {
		width: 40px;
		height: 40px;
		margin-right: 1rem;
	}
}

.body-container {
	position: relative;
	border: 1px solid $white;
	z-index: 5;
	background: $white;
}

.body-content {
	max-width: 700px;
	margin: 0 auto;
	padding: 2rem 0 4rem;

	@media #{$break-mobile-large} {
		padding: 2rem 0;
	}

	.learn-link {
		font-size: 0.85rem;
	}

	img {
		display: block;
		max-width: 100%;
		margin: 1rem 0 0;
	}
}

.more-links,
.donate-cta {
	display: inline-block;
	vertical-align: middle;
	margin-top: 3rem;
	width: calc(50% - 3px);

	@media #{$break-mobile-large} {
		display: block;
		width: 100%;
	}
}

.more-links {

	.line {
		color: $light-gray;
		padding: 0 15px;
	}
}

.donate-cta {
	position: relative;
	text-align: right;
	height: 40px;

	@media #{$break-mobile-large} {
		text-align: center;
		margin-top: 25px;
	}

	.cta {
		position: absolute;
		right: 0;
		top: 0;
		background: $light-blue;
		line-height: 25px;
		padding: 8px 20px 8px 20px;
		color: $dark-blue;
		transition: .3s;

		p {
			margin-bottom: 5px;
			margin-top: 5px;
		}

		@media #{$break-mobile-large} {
			position: relative;
			display: block;
		}

		&:hover {
			transform: scale(1.05);
			cursor: pointer;
		}

		i {
			margin-right: 5px;
		}
	}
}

#donateModal{
	form {
		text-align: center;
	}
}

.slug {
	margin-top: 2rem;
	padding-top: 1rem;
	color: $light-gray;
	border-top: 1px solid $lightest-gray;
}

/* GALLERY */

.gallery-container {

	max-width: 100%;
	padding: 0.25%;

	.image-container {
		position: relative;
		display: inline-block;
		opacity: 0;
		width: 24.5%;
		height: 24.5%;
		vertical-align: top;
		margin: 0.25%;

		@media #{$break-ipad-portrait} {
			width: 49.5%;
		}

		@media #{$break-mobile} {
			width: 98%;
			margin: 1%;
		}

		.gallery-image {
			max-width: 100%;
		}

		.caption {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			display: block;
			padding: 1rem;
			opacity: 0;
			color: $white;
			background: rgba(0, 0, 0, 0.5);
			font-size: $font-small;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;

			a,
			a:hover,
			a:active,
			a:focus {
				color: $white;
				text-decoration: underline;
			}
		}

		.caption-indicator {
			position: absolute;
			bottom: 0;
			right: 0;
			content: "";
			border-top:	15px solid transparent;
  			border-right: 15px solid $white;
			-webkit-transition: all 0.3s ease-out;
			-moz-transition: all 0.3s ease-out;
			-o-transition: all 0.3s ease-out;
			transition: all 0.3s ease-out;
		}

		&:hover,
		&:focus,
		&:active {
			.caption {
				opacity: 1;
			}

			.caption-indicator {
				opacity: 0;
			}
		}
	}
}
