.info-bar {
	text-align: center;
	padding: 10px 50px 10px 15px;
	background: white;
	box-shadow: $low-float;
	
	span {
		font-family: freight-text-pro,serif;
		font-style: italic;
		font-size: 1.25rem;
		font-weight: 700;
	}

	.close span {
		font-weight: 400;
		font-size: 2rem;
		line-height: 1.5rem;
		position: absolute;
		right: 20px;
		top: 10px;
	}
}

.navbar-kayak {
text-align: center;
	.navbar-header {
		width: auto;
		float: left;
	}
	.divider {
		margin: 0 5px 0 10px;
		border-right: 2px solid #eaf7fb52;
		display: inline-block;
		height: 100%;
		width: 2px;
		vertical-align: middle;
	}
	.icon:after {
		content: '\f177';
		font-family: FontAwesome;
		font-style: normal;
		margin-left: 10px;
		vertical-align: middle;
		font-size: 1rem;
	}
	.kayak-title {
		margin: 0 auto;
		text-align: center;
		padding: 10px 0;
		color: $white;

		span {
			color: $white;
			font-weight: 600;
			font-family: $helvetica;
			letter-spacing: 0.05rem;
			font-size: 1.2rem;
		}

		@media #{$break-mobile} {
			float: right;
			margin-top: 5px;
			span {
				font-size: 1rem;
			}
		}
	}
	@media #{$break-mobile} {
		padding-right: 20px;
	}
}

.mapboxgl-popup-content {
	.link-wrapper {
		display: block;
		border-top: 1px solid $lightest-gray;
		widht: 100%;

		&:last-of-type {
			.a-blue {
				padding-bottom: 0;
			}
		}
	}
	.a-blue {
		display: inline-block;
		padding-top: 2px;
		padding-bottom: 10px;
		font-size: 0.8rem;
	}
	.title {
		display: block;
		margin-bottom: 15px;
	}
	.icon:after {
		content: '\f178';
		font-family: FontAwesome;
		font-style: normal;
		color: $medium-blue;
		margin-left: 10px;
		vertical-align: middle;
		font-size: 1rem;
		display: inline-block;
	}
}