.navbar {
  height: $nav-height;
  margin-bottom: 0;
  padding: 7px 15px;
  background: $dark-blue;
  border-radius: 0;
  box-shadow: $medium-float;
  z-index: 5;
  -webkit-font-smoothing: antialiased;

  .navbar-right {
    margin-top: 2px;
  }

  .fa {
    font-size: 1.1rem;
  }

  .fa-caret-down:before {
    margin-left: 2px;
  }
}

.navbar-main {
  padding-right: 100px;
}

.search {
  position: absolute;
  right: 0;
  top: 0;
  width: $nav-height;
  height: $nav-height;
  padding: 21px 26px;
  font-size: 1.2rem;
  color: $white;
  background: $darker-blue;
  z-index: 6;
  cursor: pointer;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  &:hover,
  &:focus,
  &:active {
    background: $darkest-blue;
  }
}

.search-box {
  position: absolute;
  right: $nav-height;
  top: 0;
  width: 0px;
  height: $nav-height;
  display: none;
  background: $highlight-blue-solid;
  padding: 15px;
  color: $white;
  z-index: 6;
  overflow-x: hidden;
  white-space: nowrap;

  ::-webkit-input-placeholder {
   color: $light-blue;
   letter-spacing: $slight-space;
   font-family: $freight;
   font-style: italic;
   font-weight: 600;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $light-blue;
     letter-spacing: $slight-space;
     font-family: $freight;
     font-style: italic;
     font-weight: 600;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $light-blue;
     letter-spacing: $slight-space;
     font-family: $freight;
     font-style: italic;
     font-weight: 600;
  }

  :-ms-input-placeholder {  
     color: $light-blue;
     letter-spacing: $slight-space;
     font-family: $freight;
     font-style: italic;
     font-weight: 600;
  }
}

#search-button {
  font-family: FontAwesome;
  width: 28px;
  height: 28px;
  padding-right: 4px;
  font-size: 14px;
  color: $light-blue;
  background: transparent;
  border-radius: 100%;
  border: 2px solid $light-blue;

  &:hover {
    color: $white;
    border: 2px solid $white;
  }
}

#tipue_search_input {
  background: transparent;
  letter-spacing: $slight-space;
  font-weight: 400;
  line-height: 35px;
  border: none;
  padding-left: 10px;
  width: 85%;

  &:focus::-webkit-input-placeholder { color:transparent; font-family: $freight; font-style: italic;}
  &:focus:-moz-placeholder { color:transparent; font-family: $freight; font-style: italic;} /* FF 4-18 */
  &:focus::-moz-placeholder { color:transparent; font-family: $freight; font-style: italic;} /* FF 19+ */
  &:focus:-ms-input-placeholder { color:transparent; font-family: $freight; font-style: italic;} /* IE 10+ */

  @media #{$break-ipad-large} {
    width: 90%;
    height: 3rem;
    background: $highlight-blue;
    color: $white;
    margin: 0 5%;
  }
}

input:focus {
    outline: -webkit-focus-ring-color auto 0;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 0;
}

.navbar-nav {

  li {
    margin-bottom: 0;
  }

  .nav-item {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
    color: $white;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: $spaced;
    text-transform: uppercase;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    @media #{$break-ipad-landscape} {
      padding-right: 1.1rem;
      padding-left: 1.1rem;
      margin-top: 0.1rem;
    }

    &:focus,
    &:hover {
      color: $light-blue;
      background: transparent;
    }

    &:hover {
      cursor: pointer;
    }
  }
  .tag {
    background: #95d4ec7a;
    margin-right: 10px;
    padding: 3px 5px 3px 6px;
    border-radius: 3px;
    font-size: 0.8rem;
    color: $white !important;
    &:hover {
      color: $white;
    }
  }
  .icon:after {
    content: '\f178';
    font-family: FontAwesome;
    font-style: normal;
    margin-left: 10px;
  }
}

.navbar-brand {
  padding: 10px 0;
  color: $white;
  font-weight: 600;
  font-family: $helvetica;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  &:focus,
  &:hover,
  &:active {
    color: $light-blue;
  }

  .brand-logo {
    display: inline-block;
    width: 35px;
    margin-right: 0.65rem;
  }

  .brand-logo,
  .brand-title {
    display: inline-block;
    vertical-align: middle;
  }
}

.navbar-toggle {
  border: 2px solid $white;
  margin: 0.4rem 1rem 0.4rem;
  opacity: 0.9;

  .icon-bar {
    border: 1px solid $white;
  }
}

.about-pdh,
.view-destinations,
.submit-tip {
  position: relative;
  display: none;
  padding: 3rem;
  box-shadow: $medium-float;
  z-index: 5;
}

/* Filters! */
.filter-box {

  display: flex;
  flex-wrap: wrap;
  background: $whisper-gray;
  padding: 10px 20px;
  margin-bottom: 25px;

  .filter-icon,
  .filter-icon+p {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0 0;
    font-family: $freight;
    font-style: italic;
    font-size: 1.25rem;
    font-weight: 700;
  }

  .filter-icon {
    margin-right: 8px;
  }

  .filter-column {
    padding: 0 15px;
    font-size: 14px;
    flex-grow: 1;

    &:first-of-type {

      @media #{$break-laptop} {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    .checkbox {
      display: block;

      label {
        margin-left: 5px;
        color: $medium-gray;
      }
    }
  }

  @media #{$break-ipad-large} {

    /* Mobile filter styles */
    border-radius: 5px;
    margin: 0 25px 35px;
    padding: 10px 20px;
    background: $highlight-blue;

    .filter-icon {
      display: none;
    }

    .filter-column {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;

      p {
        color: $light-blue;
        margin-bottom: 5px;
      }

      .checkbox {
        margin-bottom: 15px;
        margin-top: 0;
        margin-left: 10px;
        color: $white;

        label {
          color: $light-blue;
          font-weight: 700;
          margin-left: 15px;
        }
      }

      .checkbox+.checkbox {
        margin-top: 0;
      }
    }
  }
}

.view-destinations {
  padding: 1.5rem 3rem;

  @media #{$break-ipad-landscape} {
    padding: 1rem;
  }

  .container {
    width: 100%;
  }

  .navigation-list {
    margin-bottom: 0;
    padding-left: 2rem;
    list-style: none;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;

    @media #{$break-ipad-landscape} {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }

    li {
      font-size: $font-small;
      display: inline-block;
      width: 100%;
      margin-bottom: 0.70rem;

      a {
        color: $mid-gray;
        font-weight: 400;
        letter-spacing: $slight-space;

        &:hover,
        &:focus,
        &:active {
          color: $dark-gray;
          text-decoration: none;
        }
      }
    }
  }
}

.about-pdh-content {
  background: $white;

  strong {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .about-container {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    max-width: 100%;
  }

  .section-gray {
    width: 100%;
    background: $whisper-gray;
    padding: 1rem 0;
  }

  .contact-list {
    li a {
      cursor: pointer;
    }
  }

  .tip-jar {
    margin-top: 1.5rem;

    .tip-button,
    .props {
      display: inline-block;
      vertical-align: middle;

      @media #{$break-ipad-portrait} {
        text-align: center;
      }
    }

    .props {
      border-right: 1px solid $lightest-gray;
      width: 120px;
      padding-right: 20px;
      margin-right: 20px;

      @media #{$break-ipad-portrait} {
        width: 100%;
        padding: 0;
        margin: 0 0 20px 0;
        padding: 0 0 20px 0;
        border-right: none;
        border-bottom: 1px solid $lightest-gray;

        img {
          max-width: 120px;
        }
      }

      img {
        width: 100%;
      }
    }

    .tip-button {
      width: calc(100% - 160px);

      @media #{$break-ipad-portrait} {
        width: 100%;
      }

      p {
        margin-bottom: 10px;
        font-size: $font-small;
        color: $medium-gray;

        @media #{$break-ipad-portrait} {
          margin-bottom: 30px;
        }
      }
    }
  }

  .about-row {
    margin: 0 0 1.5rem 0;
    font-size: $font-small;
    color: $medium-gray;

    .about-list {
      display: inline-block;
      vertical-align: top;
      min-height: 10rem;
      width: 30%;
      margin: 0 1%;
      padding: 1rem;
      background: $whisper-gray;

      @media #{$break-laptop} {
        min-height: 14rem;
      }

      @media #{$break-ipad-portrait} {
        width: 100%;
        min-height: 0;
        margin: 0 0 1rem;
        padding-bottom: 1rem;
      }
    }
  }

  .about-content {
    display: inline-block;
    width: 75%;
    vertical-align: top;

    h4 {
      margin-top: 1rem;
    }

    @media #{$break-ipad-portrait} {
      width: 100%;
    }
  }

  @media #{$break-ipad-portrait} {
    padding: 2rem 20px;
  }
}

.submit-tip {

  h4 {
    margin-top: 1rem;
  }

  .container {
    @media #{$break-ipad-landscape} {
      width: 100%;
      padding: 0;
    }
  }

  @media #{$break-ipad-portrait} {
    padding: 2rem 20px 3rem;
  }
}


/* MOBILE NAV STYLES */
.navbar-mobile {
  height: auto;
  padding: 7px 0;

  ::-webkit-input-placeholder {
   color: $white;
   font-family: $freight;
   letter-spacing: $slight-space;
   font-style: italic;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $white;
     font-family: $freight;
     letter-spacing: $slight-space;
     font-style: italic;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $white;
     font-family: $freight;
     letter-spacing: $slight-space;
     font-style: italic;
  }

  :-ms-input-placeholder {  
     color: $white;
     font-family: $freight;
     letter-spacing: $slight-space;
     font-style: italic;
  }

  .navbar-brand {
    padding: 7px 15px;
    margin-left: 0px;
  }

  .navbar-collapse {
    border: 0;
    box-shadow: none;

    .nav-item {
      padding: 1rem 20px;
    }

    .dropdown {
      &:first-of-type {
        padding-top: 0.75rem;
      }
    }
  }

  .dropdown-menu {
    padding: 1rem 5px;

    li {

      a {
        margin-left: 10px;
        color: $light-blue;
        font-size: 0.95rem;
        letter-spacing: 0.01rem;

        &:focus,
        &:hover,
        &:active {
          color: $white;
          background: transparent;
        }
      }
    }

    &.about-menu {
      padding: 1rem 0 0;

      a {
        color: $dark-blue;
        margin-left: 0;

        &:hover,
        &:active,
        &:focus {
          color: $black-blue;
          text-decoration: none;
        }
      }
    }
  }
}

/* Annoying bootstrap overrides */

#mobile-nav-container {
  padding: 5px 15px;
}

.container-fluid>.navbar-collapse, .container>.navbar-collapse {
    margin-right: -16px;
    margin-left: -16px;
    overflow-x: hidden;
}

.navbar-nav .open .dropdown-menu>li>div {
  line-height: 1.5rem;
  white-space: normal;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background: transparent;
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>div {
    padding: 0px 0 15px 15px;
  }
}


@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>div {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

@media (max-width: 991px) {
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}