<div class="footer">
  <div class="footer-wrapper">
    <div class="social-wrapper">
      <a class="footer-link footer-twitter" href="http://www.twitter.com/phillydayhiker" title="Follow Philly Day Hiker on Twitter">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a class="footer-link footer-instagram" href="https://www.instagram.com/phillydayhiker/" title="Follow Philly Day Hiker on Instagram">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      <a class="footer-link footer-email" href="http://eepurl.com/dDKJ5n" target="_blank" title="Sign up for the Philly Day Hiker newsletter">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </div>
    <div class="social-wrapper">
      <p class="small credits">Philly Day Hiker was made with &hearts; by <a class="footer-link credit-link link-subtle" href="http://www.laurenhallden.com">Lauren Hallden</a>,<br class="visible-xs"> &copy;
        <script language="javascript" type="text/javascript">
        var today = new Date()
        var year = today.getFullYear()
        document.write(year)
        </script>
      </p>
    </div>
  </div>
</div>